---
title: Takafulis's Artikel
layout: default5
---
<h1>{{ page.title }}</h1>
	{% if paginator.posts %}
	<ul class="posts">	
	  {% for post in paginator.posts %}
	    <li> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}	
	</ul>
	{% else %}
  		<p>No posts found.</p>
	{% endif %}

{% if paginator.total_pages > 1 %}
  <div class="paginator">
        <a href="{% if paginator.previous_page == 1 %}/artikel/{% else %}{{ paginator.previous_page_path }}{% endif %}">
          &laquo;</a>
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="page-item active"><a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
        {% elsif page == 1 %}
          <li class="page-item"><a class="page-link" href="/artikel/">1</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="{{ paginator.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}
      <li class="page-item{% unless paginator.next_page %} disabled{% endunless %}">
        <a class="page-link" href="{% if paginator.next_page %}{{ paginator.next_page_path }}{% else %}#{% endif %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
  </div>
{% endif %}
