---
title: Takafulis's Artikel
layout: default5
---
<h1>{{ page.title }}</h1>
	{% if paginator.posts %}
	<ul class="posts">	
	  {% for post in paginator.posts %}
	    <li> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}	
	</ul>
	{% else %}
  		<p>No posts found.</p>
	{% endif %}

{% if paginator.total_pages > 1 %}
  <div class="pagination">
        <a href="{% if paginator.previous_page == 1 %}/artikel/{% else %}{{ paginator.previous_page_path }}{% endif %}">
          &laquo;</a>
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <a class="active" href="#">{{ page }}</a>
        {% elsif page == 1 %}
          <a href="/artikel/">{{ page }}</a>
        {% else %}
          <a href="{{ paginator.paginate_path | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}
        <a href="{% if paginator.next_page %}{{ paginator.next_page_path }}{% else %}#{% endif %}">
          &raquo;</a>
  </div>
{% endif %}
