<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/tufte.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    	{% include mukabuku.html %}
    	{% include borang.html %}
    	{% include analytics.html %}
	{% seo %}
</head>

<body>
<a href="sms:+601110001321?body=Info MLTT">Pengguna Android, klik sini untuk sms terus kepada kami</a><br/><br/><br/>
<a href="sms:+601110001321&body=More info MLTT">Pengguna iPhone, klik sini untuk sms terus kepada kami</a><br/><br/><br/>
<div>
      <p>Atau boleh juga terus message ke Facebook Page kami dibawah:</p>
    </div>
<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '95100348886',
          xfbml      : true,
          version    : 'v2.6'
        });
      };
 
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
 
    <div class="fb-page" 
         data-href="https://www.facebook.com/takafulis/" 
         data-tabs="messages" 
         data-width="400" 
         data-height="300" 
         data-small-header="true">
      <div class="fb-xfbml-parse-ignore">
        <blockquote>
            <a href="https://m.me/takafulis/">Message Us</a>
            </blockquote>
      </div>
    </div>
</body>
</html>


