<div class="ss-form"><script type="text/javascript">var submitted_cyxiyymg=false;</script><iframe name="hidden_iframe_cyxiyymg" id="hidden_iframe_cyxiyymg" style="display:none;" onload="if(submitted_cyxiyymg){window.location='/takaful/terimakasih.html';}"></iframe><form action="https://docs.google.com/forms/d/1tpSlMOAa8bDetNZPALrxQypHgRzOdhpt6UFFp7NWa5I/formResponse" method="post" target="hidden_iframe_cyxiyymg" onsubmit="submitted_cyxiyymg=true;" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1533546916"><div class="ss-q-title">
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1533546916" value="" placeholder="Nama (Wajib Isi)" class="ss-q-short" id="entry_1533546916" dir="auto" aria-label="Nama  " aria-required="true" required="" title="">
<div class="error-message" id="2077308474_errorMessage"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_824053468"><div class="ss-q-title">
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="number" name="entry.824053468" value="" placeholder="No. Telefon (Wajib Isi)" class="ss-q-short" id="entry_824053468" dir="auto" aria-label="No. Telefon  Must be a number" aria-required="true" required="" step="any" title="Must be a number">
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_648295967"><div class="ss-q-title">
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.648295967" value="" placeholder="Tempat Tinggal (Optional)" class="ss-q-short" id="entry_648295967" dir="auto" aria-label="Tempat Tinggal  " title="">
<div class="error-message" id="656532252_errorMessage"></div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;552734498795567330&quot;]
">
<input type="hidden" name="pageHistory" value="0">
<input type="hidden" name="fbzx" value="552734498795567330">
<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Hantar" id="ss-submit">
</td>
</tr></tbody></table></div></ol></form></div>
<script type="text/javascript">H5F.setup(document.getElementById('ss-form'));
          _initFormViewer(
            "[100,\x22#CCC\x22,[[[824053468,[[1,9,,\x22\x22]\n]\n]\n]\n]\n]\n");</script>
